
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Caveat Brush', cursive;
    background-color: rgb(70, 73, 112);
    overflow-x: hidden;
}

.pseudo-logo span {
    margin-bottom: -12px;
}

.navbar-brand {
    font-size: 70px;
    text-transform: uppercase;
}

.to-stack {
    position: absolute;
    top: -80px;
    right: -80px;
}

.to-stack-text {
    text-decoration: none !important;
    font-size: 1.5rem;
    fill: #fff;
    position: relative;
    left: 40px;
    z-index: 1;
}

.to-stack-arrow {
    width: 11vh;
    height: 11vh;
    transform: rotateY(180deg);
    position: absolute;
    top: 110px;
    right: 100px;
    transition: filter .3s ease-in-out;
}

/* .to-stack-arrow:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
} */

.search-card-body {
    background-color: #86E2F7;
    border: none;
}

.search-icon {
    width: 40px;
    height: 40px;
}

.search-btn {
    background-color: #2D95FF;
    outline: none;
    transition: background-color .3s ease-in-out;
}

.search-btn:hover {
    background-color: #2682dd;
}

.jumbo-1 {
    background-color: #F4DA58;
}

.jumbo-2 {
    background-color: #F68381;
}

.jumbo-3 {
    background-color: #4EF09C;
}

.arrow-down {
    transform:
        rotateY(180deg)
        rotate(-90deg);
    height: 5vh;
    width: 5vh;
    position: relative;
    top: 15px;
    left: 5px;
}

.search-result-M {
    color: #F4DA58;
}

.search-result-G {
    color: #F68381;
}

.search-result-B {
    color: #4EF09C;
}

.card-movie {
    border: 3px solid #F4DA58;
}

.card-game {
    border: 3px solid #F68381;
}

.card-book {
    border: 3px solid #4EF09C;
}

.card-header-medium {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.card-body-medium {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-icon {
    width: 30px;
    height: 30px;
}

.details-btn {
    background-color: #86E2F7;
    font-size: 1.3rem;
    transition: background-color .3s ease-in-out;
}

.details-btn:hover {
    background-color: rgb(77, 160, 228);
}

.add-movie-btn {
    background-color: #F4DA58;
    font-size: 1.3rem;
    transition: background-color .3s ease-in-out;
}

.add-movie-btn:hover {
    background-color: rgb(245, 211, 41);
}

.add-game-btn {
    background-color: #F68381;
    font-size: 1.3rem;
    transition: background-color .3s ease-in-out;
}

.add-game-btn:hover {
    background-color: rgb(238, 77, 75);
}

.add-book-btn {
    background-color: #4EF09C;
    font-size: 1.3rem;
    transition: background-color .3s ease-in-out;
}

.add-book-btn:hover {
    background-color: rgb(10, 218, 110);
}
