*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Caveat Brush', cursive;
    background-color: rgb(70, 73, 112);
    overflow-x: hidden;
}

.pseudo-logo span {
    margin-bottom: -12px;
}

.navbar-brand {
    font-size: 70px;
    text-transform: uppercase;
}

.to-stack {
    position: absolute;
    top: -80px;
    right: -80px;
}

.to-stack-text {
    text-decoration: none !important;
    font-size: 1.5rem;
    fill: #fff;
    position: relative;
    left: 40px;
    z-index: 1;
}

.to-stack-arrow {
    width: 11vh;
    height: 11vh;
    transform: rotateY(180deg);
    position: absolute;
    top: 110px;
    right: 100px;
    transition: filter .3s ease-in-out;
}

/* .to-stack-arrow:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
} */

.search-card-body {
    background-color: #2D95FF;
    background-color: #86E2F7;
    border: none;
}

.search-icon {
    width: 40px;
    height: 40px;
}

.search-btn {
    background-color: #2D95FF;
    transition: background-color .3s ease-in-out;
}

.search-btn:hover {
    background-color: #2682dd;
}

.jumbo-1 {
    background-color: #F4DA58;
}

.jumbo-2 {
    background-color: #F68381;
}

.jumbo-3 {
    background-color: #4EF09C;
}

.arrow-down {
    transform:
        rotateY(180deg)
        rotate(-90deg);
    height: 7vh;
    width: 7vh;
    position: relative;
    top: 15px;
    left: 5px;
}

.details-icon {
    width: 20px;
    height: 20px;
}